#autosuggest-card {
  width: 28rem;
  border: none
  /* overflow: hidden;
  border-radius: 199px; */
}
.autosuggest-div{
  padding: 5rem 41rem;
}
.search-box > input{
  /* border-radius: 2rem */
  border: none
}
.search-box {
  border: 2px solid rgba(0,0,0,.125);;
  border-radius: 23px;
  overflow: hidden;
}
.options:hover {
  background-color: #d9eaf9;
}
.input-group-prepend {
  display: contents;
}
.input-group-prepend .input-group-text+.input-group-text {
  margin-left: unset;
}
.input-group-prepend > span {
  border: none;
  background-color: white;
}
.option-div {
    width: 97%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2px 2px 14px 15px;
    overflow: hidden;
    margin-left: 2%;
}
.movie-badge{
    padding-top: 0px;
    /* padding-bottom: 11px;
    padding-right: 10px; */
    background-color: #80808033;
    color: #212529;
    font-weight: 300;
    font-size: unset;
}
.close {
		margin-left: .25rem;
		color: inherit;
    text-shadow: 0 1px 0 rgba(#000, .5);
    float: unset;
	}
/* .option-div > .list-group > .list-group-item:first-child {
    border-top-left-radius: 2px
} */
#movies:focus {
  border: none
}
.input-group-text{
  padding: 0.2rem 0rem 0.2rem 0.2rem;
}
@media (max-width: 992px){
  .autosuggest-div{
    padding: 2rem;;
  }
  #autosuggest-card {
    width: 17rem;
    
  }
}
#autosuggest-card > .list-group{
    width: 92%;
    margin-left: 4%;
    box-shadow: 0 0 0 3px #ccc;
    border: 1px solid rgba(0,0,0,.125);
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 1px 11px #ccc;
    border-radius: 5px;
    
}
.input-group-text{
    padding: 3px;
}
.options {
  line-height: 14px;
}
.list-group-item{
  padding: 0.50rem 1.50rem;
  margin-bottom: unset;
  border: none
}

.small, small{
  font-weight: 300;
  color:#464242e8
}
button.close {
  outline: none;
}
.input-group>.form-control {
  width: 10%
}